<h1>Classes.edit (/classes/<%= class.class_id %>/edit)</h1>

<form action="/classes/<%= class.class_id %>/edit" method="post">
	<input type="text" name="class_name" value="<%= class.class_name %>">
	<button type=submit>Update</button>
</form>
