<h1>Schools.new (/schools/new)</h1>

<div class="box">
<form action="/schools/" method="post" enctype="multipart/form-data">
	<input id="deletebutton" type="text" name="school_name" />
	<button id="deletebutton" type=submit>Create school</button>
</form>
</div>