<h1>Schools.show (/schools/<%= school.school_id %>)</h1>

<h2>
	<a href="/schools/<%= school.school_id %>/edit"><%= school.school_name %></a>
	<form action="/schools/<%= school.school_id %>/destroy" method="post">
		<button type="submit">Destroy School</button>
	</form>	
</h2>
<p>Name: <%= school.school_name %>